html {
    font-size: calc(100vw/3.75);
    }
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 0.45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .1rem;
    background: -webkit-linear-gradient(left,#4F8CFE,#3AB9FE);
    img{
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
    }
    span{
        color: #fff;
    }
    i{
        width: 0.3rem;
        height: 0.3rem;
        display: block;
        text-align: center;
        line-height: .3rem;
        color: #fff;
    }
}
main{
    flex: 1;
    background: #F9F9FB;
    &>div{
        width: 100%;
        height: auto;
        background: #fff;
    }
}
.search{
    width: 100%;
    height: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    i{
        position: absolute;
        width: 0.16rem;
        height: 0.16rem;
        top: 50%;
        left: 50%;
        margin-top: -0.08rem;
        margin-left: -0.24rem;
        text-align: center;
        line-height: .16rem;
        color: #DCDCE0;
    }
    input{
        width: 95%;
        border: none;
        border-radius: .05rem;
        background: #F3F3F3;
        height: .2rem;
        outline: none;
        text-align: center;
        padding-left: 0.18rem;
        font-size: .12rem;
        box-sizing: border-box;
        &::-webkit-input-placeholder{
            color: #A9A9A9;
        }
    }
}
.list{
    width: 100%;
    height: auto;
    background: #fff;
    li{
        height: 0.5rem;
        border-bottom: 1px solid #DEDFE0;
        display: flex;
        padding: 0 .1rem;
        align-items: center;
        position: relative;
        &:last-child{
            border: none;
        }
        img{
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 50%;
            margin-right: 0.1rem;
        }
        div{
            flex: 1;
        }
        h6{
            line-height: .2rem;
            font-size: .14rem;
            color: #000;
        }
        p{
            line-height: .2rem;
            font-size: .1rem;
            color: #808080;
        }
    }
    span{
        position: absolute;
        height: 0.2rem;
        line-height: .2rem;
        top: 0.05rem;
        right: .1rem;
        font-size: .12rem;
        color: #9D9D9D;
    }
}
footer{
    height: 0.45rem;
    display: flex;
    align-items: center;
    a{
        flex: 1;
        text-align: center;
        color: #7F8393;
    }
    i{
        display: block;
        margin-bottom: 0.04rem;
        color: #7F8393;
    }
}
.active{
    color: #47BAFE;
    i{
        color: #47BAFE;
    }
}